.auth-top-action__username {
  font-weight: bold;
  text-decoration: none !important;
}

.auth-top-action__sign-out {
  margin-left: 5px;
  cursor: pointer;
  color: rgba(255, 255, 255 , 0.7) !important;
}

.auth-top-action__sign-out:hover {
  color: rgba(255, 255, 255 , 0.9) !important;
}

.sign-in__title {
  /* Box Model */
  margin-bottom: 30px;

  /* Text */
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}