.mv-loading-container {
  /* Box Model */
  width: 100%;
  height: 100%;

  /* View */
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-view-container {
  /* Box Model */
  padding-bottom: 20px;

  /* View */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.mv-content--container {
  /* Box Model */
  height: 100%;
  padding-bottom: 10px;
}

.mv-box {
  /* Box Model */
  margin-top: 3px;
  height: calc(100% - 70px);
  border-radius: 2px 2px 0 0 !important;

  /* View */
  position: relative;
  overflow-y: auto;
}

.mv-top {
  /* Box Model */
  width: 100%;
  padding: 10px 15px;
  box-shadow: 1px 3px 2px #e6e5ea;
  border-radius: 10px 10px 0 0;

  /* Background */
  background-color: #fff;
}

.mv-top__name {
  font-size: x-large;
  font-weight: 700;
}

.mv-box__message {
  /* Box Model */
  width: 100%;

  /* View */
  top: 5px;
  position: absolute;
  justify-content: flex-end;
}

.mv-box__message--item {
  /* Box Model */
  border: none !important;
  margin-bottom: 5px;

  /* View */
  display: flex !important;

  /* Background */
  background-color: transparent !important;
}

.mv-box__message--item.right {
  justify-content: flex-end;
}

.card-inside {
  border: none !important;
  background-color: transparent !important;
}

.card-inside.right {
  text-align: right;
}

.card-inside__mess-text {
  padding: 5px;
  border-radius: 10px !important;
  border: none !important;
  box-shadow: 1px 1px 1px #e9e9e9;
}

.card-inside__mess-text.right {
  background-image: linear-gradient(58deg, rgba(68, 99, 255, 0.7) 2%, #4463ff 75%);
}

.card-inside__mess-text--line {
  text-align: left;
}