.rlist-ctrl {
  /* Box model */
  top: 0;
  left: 0;
  right: 0;
  min-height: 60px;
  z-index: 10;
  padding: 0 30px;

  /* View */
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.rlist-ctrl-actions {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

.rlist-ctrl__title {
  /* Box model */
  padding: 10px 0;
  min-height: 65px;

  /* View */
  display: flex;
  align-items: center;

  /* Text */
  font-weight: 600;
  font-size: xx-large;
}

.rlist-ctrl__search {
  padding: 5px 0;
}

.rlist-item {
  /* Box model */
  min-height: 64px;
  border: none !important;
  border-radius: 10px !important;
 
  /* Background */
  background-color: transparent !important;
  
  /* Other */
  cursor: pointer;
  transition: 0.3s;
}

.rlist-item:hover {
  background-color: #e6e5ea !important;
}

.rlist-item.active {
  color: #333 !important;
  box-shadow: 1px 3px 2px #e6e5ea;
  transform: scale(1.04, 1) !important;
  background-color: #fff !important;
}

.rlist-item__icon {
  display: inline-block;
  margin-left: 10px;
}